.box {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  filter: drop-shadow(4px 5px 1px #d4d4d4);
  margin-top: 2%;
  margin-bottom: 5%;
}

.valid {
  border: 2px solid black;
}

.label {
  font-size: 16pt;
}

.shake {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em red;
}
@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.1rem;
  }
  75% {
    margin-left: -0.1rem;
  }
  100% {
    margin-left: 0rem;
  }
}
